* {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}

body{
    font: 1em sans-serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1D24;
}

header>div {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin:1em auto;

}

header h1 {
    width: 15%;
    display:flex;
}

h1 span{
    display:inline;
    color:white;
}

nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav li {
    display: inline;
}

#services{
    display: flex;
    background-image:url("https://livedemo00.template-help.com/wt_prod-25861/images/bg-image-3.jpg");
    background-size: cover;
    background-position: center;
    height:40vh;
}

.font1875{
    font-size: 1.875em;
    font-weight: bolder;
    text-transform: uppercase;

}

#title{
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


#title h2{
    font-size: 3.75em;
    color:#ffffff;
    font-weight: 600;
    width: 100%;
    text-align: center;

}

#title ul{
    justify-content: center;
    width: 100%;
    color: white;
}

.fa-solid, .fas {
    font-weight: 900;
    color: grey;
}