@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
section,
article,
figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1em;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
    list-style-type: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Natural flow and rhythm in articles by default */
/*article > * + * {
    margin-top: 1em;
  }*/

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/***********************/


* {
    font-family: 'Montserrat', sans-serif;
}

body{
    font: 1em sans-serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1D24;
}

header>div {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin:1em auto;

}

header h1 {
    width: 15%;
    display:flex;
}

h1 span{
    display:inline;
    color:white;
}

nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav li {
    display: inline;
}

#barba{
    display: flex;
    background-image:url("https://livedemo00.template-help.com/wt_prod-25861/images/bg-image-1.jpg");
    background-size: cover;
    background-position: center;
    height:80vh;
    position: relative;
}

.font1875{
    font-size: 1.875em;
    font-weight: bolder;
    text-transform: uppercase;

}

#titulo{
    display:block;
    position:absolute;
    top:30%;
    left:50%;
}


#titulo h1{
    font-size: 3.75em;
    color:#ffffff;
    font-weight: 600;

}